name: Update pegel.md

on:
  workflow_dispatch:
  schedule:
    - cron: '0 4 1,15 * *'

jobs:
  update_pegel:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: "actions/checkout@v6"

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install Python Packages
        run: |
          python -m pip install --upgrade pip
          pip install .

      - name: Execute Python Script
        run: python update_pegel_list.py
        working-directory: ./docs

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          commit-message: Update pegel.md
          title: Update pegel.md
          body: Update pegel.md to reflect changes by LHP
          branch: update-pegelmd
          delete-branch: true